
.for-mobile, .for-tablet {
    display: none !important;
  }
  
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    .breadcrumb li {
        font-size: 12px;
      }
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2000;
  }
  .magz-list {
    padding-left: 18px;
  }
  .magz-list.square li {
    list-style: square;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 2000;
  }

  .menu {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 100%;
    line-height: 23px;
    .container {
        /* Mega menu support */
        position: relative;
      }
      .brand {
        margin-top:1%;
         float: left;
         width: 100px;
         height: 55px;
         line-height: 52px;
         a {
            text-decoration: none;
            }
       }
       .mobile-toggle {
        font-size: 32px;
        line-height: 0;
        float: right;
        margin-left: 20px;
        display: none;
        padding: 21px 0;
      }
      ul {
        margin: 0 auto;
        display: inline-block;
        padding: 0;
        float:right;
        z-index: 9;
      }
  }
  .menu ul.nav-list > li:first-child {
    margin-left: -17px;
  }

  .menu ul {
    margin: 0 auto;
    display: inline-block;
    padding: 0;
    float:right;
    z-index: 9;
  }
  .menu ul > li {
    float: left;
    display: block;
  }
  .menu ul > li.vin-dropdown-megamenu {
    position: static;
  }

  .menu ul > li > a {
    display: block;
    color: #ffffff9e;
    padding: 20px 17px;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 32px;
    font-family: 'Montserrat';
    position: relative;
    z-index: 1;
  }

  .menu ul > li > a i {
    margin-left: 5px;
  }
  .menu ul > li > a .badge {
  /*   background-color: #F73F52; */
    position: absolute;
    top: 2px;
    right: -5px;
  }

  .menu ul > li > a:after {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    /* background-color: #F73F52; */
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    margin-top: -2px;
  }

  
.menu ul > li.active a:after, .menu ul > li:hover > a:after {
    width: 100%;
  }
  .menu ul > li:hover > .dropdown-menu {
    padding:26px 0px;
    visibility: visible;
    opacity: 1;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transform: scale(1); 
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .menu ul > li .dropdown-menu {
    border-radius: 0;
    border: none;
    top: 54px;
  /*   box-shadow: 0 20px 60px #ddd; */
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
  }
  .menu ul > li .dropdown-menu.megamenu {
    display: block;
    margin: 0;
    left: 15px;
    right: 15px;
    z-index: 1999;
    background-color: #0f0f0f!important;
  }
  .menu ul > li .dropdown-menu.megamenu .megamenu-inner {
    padding: 20px;
    padding-bottom: 15px;
  }
  .menu ul > li .dropdown-menu.megamenu .megamenu-title {
    font-size: 16px;
    position: relative;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .menu ul > li .dropdown-menu.megamenu .megamenu-title .all {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    color: #383838;
    top: 5px;
  }
  .menu ul > li .dropdown-menu.megamenu .megamenu-title .all i {
    margin-left: 5px;
  }
  .menu ul > li .dropdown-menu.megamenu .vertical-menu {
    width: 100%;
  }
  .menu ul > li .dropdown-menu.megamenu .vertical-menu li {
    display: inline-block;
    width: 100%;
    float: none;
  }
  .menu ul > li .dropdown-menu.megamenu .vertical-menu li a {
    padding: 5px 0;
    height: auto;
    line-height: 34px;
  }
  .menu ul > li .dropdown-menu.megamenu .vertical-menu li a i {
    margin-left: 0;
    width: 20px;
    float: left;
  }
  .menu ul > li .dropdown-menu.megamenu .vertical-menu li a:after {
    top: 100%;
  }
  .menu ul > li .dropdown-menu.megamenu article {
    margin-bottom: 0;
  }
  .menu ul > li .dropdown-menu.megamenu article .inner {
    box-shadow: none;
  }
  .menu ul > li .dropdown-menu.megamenu article figure {
    height: 170px;
    margin-bottom: 0;
  }
  .menu ul > li .dropdown-menu.megamenu article .padding {
    padding: 0;
  }
  .menu ul > li .dropdown-menu.megamenu article .padding h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .menu ul > li .dropdown-menu > li {
    float: none;
    display: block;
    position: relative;
  }
  .menu ul > li .dropdown-menu > li.divider {
    padding: 10px 0;
    background-color: #0f0f0f;
    position: relative;
  }
  .menu ul > li .dropdown-menu > li.divider:before {
    content: ' ';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    left: 0;
    height: 1px;
    width: 100%;
  }
  .menu ul > li .dropdown-menu > li > a {
    background-color: #0f0f0f;
    width: 230px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    padding: 7px 20px;
  }
  .menu ul > li .dropdown-menu > li > a:after {
    position: absolute;
    content: ' ';
    top: 100%;
    left: 50px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    background-color: transparent;
    z-index: -1;
  }
  .menu ul > li .dropdown-menu > li > a i {
    float: right;
  }
  .menu ul > li .dropdown-menu > li > a .icon {
    float: none;
    width: 25px;
    float: left;
    margin-left: -2px;
  }
  .menu ul > li .dropdown-menu > li.active a:after {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transform: scale(82);
    -webkit-transform: scale(82);
    -moz-transform: scale(82);
    -o-transform: scale(82);
  /*   background-color: #F73F52; */
    width: 5px;
  }
  .menu ul > li .dropdown-menu > li:hover > a {
    color: #fff;
  }
  .menu ul > li .dropdown-menu > li:hover > a:after {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transform: scale(82);
    -webkit-transform: scale(82);
    -moz-transform: scale(82);
    -o-transform: scale(82);
  /*   background-color: #F73F52; */
    width: 5px;
  }
  .menu ul > li .dropdown-menu > li ul {
    position: absolute;
    left: 230px;
    top: 0;
  }

  
.with-sidebar {
    display: inline-block;
    width: 100%;
  }
  .with-sidebar .sidebar.sidebar-sticky {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    z-index: 2000;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  }
  .with-sidebar .sidebar .sidebar-brand {
    width: 100%;
    padding: 50px;
  }
  .with-sidebar .sidebar .sidebar-brand img {
    width: 100%;
  }
  .with-sidebar .sidebar .sidebar-nav ul {
    padding: 0;
    margin: 0;
  }
  .with-sidebar .sidebar .sidebar-nav ul li {
    display: inline-block;
    width: 100%;
  }
  .with-sidebar .sidebar .sidebar-nav ul li a {
    display: block;
    padding: 13px 30px;
    text-decoration: none;
    color: #000;
  }
  .with-sidebar .sidebar .sidebar-nav ul li.active a, .with-sidebar .sidebar .sidebar-nav ul li a:hover, .with-sidebar .sidebar .sidebar-nav ul li:focus {
    /* background-color: #F73F52; */
    color: #fff;
  }
  .with-sidebar .has-sidebar {
    float: left;
    padding-left: 280px;
    padding-right: 20px;
    display: inline-block;
    width: 100%;
  }
  .with-sidebar footer {
    padding: 15px 0;
    border-top: 1px solid #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #29292b;
  }
  @media screen and (max-width: 768px) {
    .with-sidebar .sidebar {
      display: none;
    }
    .with-sidebar .has-sidebar {
      padding: 0 20px;
    }
  
    .for-tablet {
      display: block !important;
    }
  
   
    nav.menu {
      height: 55px;
    }
    nav.menu .mobile-toggle {
      padding: 14px 0;
      font-size: 27px!important;
      display: inline-block;
    }
    nav.menu ul.nav-list {
      position: fixed;
      width: 100%!important;
      height: auto;
      top: 0;
      right: -100%;
      background-color: #0f0f0f;
      z-index: 3000;
      overflow: auto;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
    }
    nav.menu ul.nav-list.active {
      right: 0;
    }
    nav.menu ul.nav-list li {
      display: block;
      float: none;
      position: static;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    nav.menu ul.nav-list > li:first-child {
      margin-left: 0;
      text-align: left;
      position: relative;
      padding: 0 3%;
    }
    nav.menu ul.nav-list > li:first-child .back {
      z-index: 9;
      position: absolute;
      height: 100%;
      width: 50px;
      line-height: 72px;
      font-size: 20px;
    }
   /*  nav.menu ul.nav-list > li:first-child a {
      border-bottom: 1px solid #f2f2f2;
    } */
    nav.menu ul.nav-list > li:first-child a:after {
      display: none;
    }
    nav.menu ul.nav-list > li > a {
      display: block;
    }
    nav.menu ul.nav-list > li > a .badge {
      right: 10px;
      top: 5px;
    }
    nav.menu ul.nav-list > li .dropdown-menu {
      box-shadow: none;
      position: absolute;
      top: 57px;
      left: initial;
      right: -100%;
      height: calc(100% - 55px);
      height: -webkit-calc(100% - 55px);
      height: -moz-calc(100% - 55px);
      height: -o-calc(100% - 55px);
      width: 100%!important;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      visibility: visible;
      display: none;
      opacity: 1;
      background-color: #0f0f0f;
    }
    nav.menu ul.nav-list > li .dropdown-menu.active {
      right: 0;
    }
    nav.menu ul.nav-list > li .dropdown-menu > li > a {
      width: auto;
    }
    nav.menu ul.nav-list > li .dropdown-menu > li > a:hover:after {
      transform: scale(105);
      -webkit-transform: scale(105);
      -moz-transform: scale(105);
      -o-transform: scale(105);
    }
    nav.menu ul.nav-list > li .dropdown-menu > li ul {
      top: 0;
    }
    nav.menu ul.nav-list > li .dropdown-menu [class^="col-"] {
      margin-bottom: 30px;
    }
  
    header.primary.up {
      top: -286px;
    }
  
   
  }
  @media screen and (max-width: 320px) {
    nav.menu ul.nav-list {
      width: 290px;
      right: -350px;
    }
    nav.menu ul.nav-list > li .dropdown-menu {
      width: 290px;
      right: -350px;
    }
  
    .sidebar {
      width: 290px;
      right: -350px;
    }
  
  }
  
   
  @media only screen and (min-width: 768px){
    #cd-close {
    display: none;
    }
    }
    @media only screen and (max-width: 768px){
      #cd-close {
        padding: 0% 9%;
        display: initial;
        float: right;
        margin-top: -60px;
      }
      button {
        width: 100%!important;
    }
      }
      a#hamburger {
        font-size: 27px;
    }